.footer_BasicFooter_3T1iF {
    background: none;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.8) 20%, rgba(0,0,0,0) 95%);
    backdrop-filter: none;
}
.actionbuttonlegenditem_ActionButtonLegend_Mbyhb .actionbuttonlegenditem_ActionButtonLabel_31Jnn {
    text-shadow: 0 0 6px rgba(0,0,0,0.8);
}